.button{
    border-radius: 5px;
    background-color: #69D2E7;
    text-align: center;
    font-family: Futura, Arial, Sans-Serif;
    opacity: 1;
    display:inline;
    border-color: #69D2E7;
    border-width:10px;
    border-style:solid;
    margin: 20px;

}